* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* All Shared Styles Here */
.max-width {
    max-width: 1200px;
    padding-top: 50px;
    justify-content: space-between;
    margin: 0 auto;
}

.btn-primary {
    background-color: #ec1748;
    padding: 18px 35px;
    border: none;
    border-radius: 7px;

}

.btn-primary:hover {
    background-color: #0000ff;
}

.btn-primary>a {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.full-bg-color {
    background-color: rgba(229, 84, 115, 0.10);

}

.section-box {
    margin: 100px 0px 50px 0px;
    text-align: center;
    justify-content: center;
}

.section-title {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 25px;
}

.section-description {
    color: #272727;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;

}

/* Header Section Style */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-container {
    width: 50%;

}

.header-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 25px;
    line-height: 1.2em;
}

.header-description {
    color: #272727;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: justify;

}

.header-image {
    width: 400px;
}

/* Flower Section Styles */
.flower-conteiner {
    display: flex;
    justify-content: space-around;
}

.flower-items {
    padding: 30px 25px 0 25px;

}

.flower-content {
    padding: 100px 70px 0 70px;
    border-radius: 50% 50% 0 0;
    height: 300px;
    align-items: center;
}

.flower-c-1 {
    background-color: rgba(167, 33, 98, 0.15);
}

.flower-c-2 {
    background-color: rgba(5, 151, 160, 0.15);
}

.flower-c-3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.flower-image {
    width: 250px;
    height: 300px;
}

.flower-description {
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 20px;
}

/* Our Support / Work Proccess */
.our-support {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 50px 0px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.support-image {
    margin-bottom: 20px;

}

.support-description {
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 500;
}

/* hot-deal Section Styles */
.hot-deal-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.hot-deal-content {
    width: 50%;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.deal-title>span {
    color: #E55473;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;

}

/* Instagram Section Style */
.insta-conteiner {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin-top: 50px;
}

/* Subcribe Section Styles */
.subscribe-container {
    background-image: url('/images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 100px 250px;
    margin-bottom: 100px;
    margin-top: 30px;

}

.subscribe-form input[type="email"] {
    display: inline;
    padding: 16px 30px;
    margin-bottom: 25px;
    width: 60%;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 18px;
    align-items: center;
}


.subscribe-form input[type="submit"] {
    color: #fff;
    padding: 13px 30px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}

/* Footer Section Styles */
.footer {
    background-color: #111010;
    padding: 130px;
    text-align: center;
}

.footer>.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 25px;
}

.white-text {
    color: #ffffff;
}

.footer-description {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}